<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">
    <!-- <course-card [course]="courses[0]" (newEvent)="clickMethod($event)" (click)="clickMethod($event)"></course-card>
    <course-card [course]="courses[1]" (click)="clickMethod($event)" (newEvent)="clickMethod($event)"></course-card>
    <course-card [course]="courses[2]" (click)="clickMethod($event)" (newEvent)="clickMethod($event)"></course-card>
    <course-card [course]="courses[3]" (click)="clickMethod($event)" (newEvent)="clickMethod($event)"></course-card> -->
    <!-- @for(course of courses; track course.id){
     <course-card 
        [course]="course"
        [class.is-first]="$first"
        [class.is-last]="$last"
        [class.is-odd]="$odd"
        [class.is-even]="$even"
        (newEvent)="clickMethod($event)" 
     />
    } -->

    <!-- @for (course of courses; track course; let first = $first; let last = $last;
    let odd = $odd; let even = $even; let index = $index) {
    <course-card [course]="course"
     [index]="index+1" 
     [class.is-first]="first" 
     [class.is-last]="last" 
     [class.is-odd]="odd"
     [class.is-even]="even" 
     (newEvent)="clickMethod($event)">
    
        <h6>ng content test</h6>
        <div class="course-description">
            {{courses[0].longDescription}}
        </div>
    
        <course-image></course-image>
    
    </course-card>
    } -->
    <!-- @if(courses.length > 110) {
        <div>
            <course-card 
                [course]="courses[0]"
                [index]="1" 
                (newEvent)="clickMethod($event)" 
             >
                <div class="course-description">
                    {{courses[0].longDescription}}
                </div>

            </course-card>    
        </div>
    } @else {
        <h6>No Data</h6>
        elseBlock
    } -->
    
    <ng-template #elseBlock *ngIf="courses.length > 0 ">
        <course-card 
            [course]="courses[9]"
            [index]="9" 
            (newEvent)="clickMethod($event)" 
         >
            <div class="course-description">
                {{courses[9].longDescription}}
            </div>

        </course-card>    
    </ng-template>
    

</div>